apiVersion: apps/v1
kind: Deployment
metadata:
  name: forgejo-runner
  labels:
    app: forgejo-runner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: forgejo-runner
  template:
    metadata:
      labels:
        app: forgejo-runner
    spec:
      containers:
        - name: runner
          image: code.forgejo.org/forgejo/runner:12.6.3
          command:
            - /bin/bash
            - -c
            - |
              cp /etc/forgejo-runner/.runner /data/.runner
              chmod 600 /data/.runner
              while ! nc -z localhost 2376 </dev/null; do
                echo 'Waiting for docker daemon...';
                sleep 5;
              done;
              forgejo-runner daemon --config /conf/config.yaml
          env:
            - name: DOCKER_HOST
              value: tcp://localhost:2376
            - name: DOCKER_CERT_PATH
              value: /certs/client
            - name: DOCKER_TLS_VERIFY
              value: "0"
          ports:
            - containerPort: 3000
              name: metrics
          volumeMounts:
            - name: config
              mountPath: /conf
            - name: secret
              mountPath: /etc/forgejo-runner
              readOnly: true
            - name: docker-certs
              mountPath: /certs
            - name: data
              mountPath: /data
        - name: dind
          image: docker:24-dind
          env:
            - name: DOCKER_TLS_CERTDIR
              value: /certs
          securityContext:
            privileged: true
          volumeMounts:
            - name: docker-certs
              mountPath: /certs
            - name: data
              mountPath: /data
      volumes:
        - name: config
          configMap:
            name: forgejo-runner-config
        - name: secret
          secret:
            secretName: forgejo-runner-secret
        - name: docker-certs
          emptyDir: {}
        - name: data
          emptyDir: {}
