apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: forgejo-runner-docker-storage
  labels:
    app: forgejo-runner
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
