apiVersion: v1
kind: Service
metadata:
  name: forgejo-runner
  labels:
    app: forgejo-runner
spec:
  selector:
    app: forgejo-runner
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
