apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest
  labels:
    app: speedtest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: speedtest
  template:
    metadata:
      labels:
        app: speedtest
    spec:
      containers:
      - name: speedtest
        image: localhost:5001/speedtest:latest
        imagePullPolicy: Always # Pull from local registry
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: speedtest-db-app
              key: uri
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "128Mi"
            cpu: "100m"
