apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest
  labels:
    app: speedtest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: speedtest
  template:
    metadata:
      labels:
        app: speedtest
    spec:
      containers:
      - name: speedtest
        image: localhost:5000/speedtest:latest
        imagePullPolicy: Always # Pull from local registry
        env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: speedtest-db-app-user
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: speedtest-db-app-user
              key: password
        - name: DATABASE_URL
          value: "postgres://$(DB_USER):$(DB_PASSWORD)@speedtest-db-rw:5432/speedtest"
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "128Mi"
            cpu: "100m"
